<app-loader></app-loader>
<router-outlet></router-outlet>
<!-- chat-list.component.html -->


<mat-list>
    <mat-list-item>
        <!-- <mat-icon mat-list-icon>chat</mat-icon> -->
        <h3 mat-line>fd</h3>
        <!-- <mat-icon>...</mat-icon> -->
        <p mat-line>efg</p>
    </mat-list-item>
    <!-- <mat-chip>@</mat-chip> -->
</mat-list>
<mat-chip>matchips are important function in the total society</mat-chip>
<mat-card>
    <mat-card-header>
        <mat-card-title>Name</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <p>sender</p>
        </div>
        <div>
            <P>receiver</P>
        </div>
    </mat-card-content>
</mat-card>

<mat-form-field>
    <input matInput placeholder="Type a message1"/>
    <input type="text" placeholder="Type a message2">
    <button mat-icon-button>
        <button>send</button>
    </button>
</mat-form-field>